[submodule "mods/barrier"]
	path = mods/barrier
	url = git@github.com:CryptechTest/barrier.git
[submodule "mods/naturalslopeslib"]
	path = mods/naturalslopeslib
	url = git@github.com:CryptechTest/naturalslopeslib.git
[submodule "mods/schemlib"]
	path = mods/schemlib
	url = git@github.com:CryptechTest/schemlib.git
[submodule "mods/poschangelib"]
	path = mods/poschangelib
	url = git@github.com:CryptechTest/poschangelib.git
[submodule "mods/twmlib"]
	path = mods/twmlib
	url = git@github.com:CryptechTest/twmlib.git
